<html lang="ru">
  <head>
    <link href="./src/styles/styles.scss" rel="stylesheet" />
  </head>
  <body>

    <nav>
      <ul>
        <li class="project-item">
          <a href="./src/pages/signIn.hbs" class="project-link">авторизация</a>
        </li>
        <li class="project-item">
          <a href="./src/pages/plug.hbs" class="project-link">мессенджер</a>
        </li>
        <li class="project-item">
          <a href="./src/pages/signUp.hbs" class="project-link">регистрация</a>
        </li>
        <li class="project-item">
          <a href="src/pages/profile.hbs" class="project-link">профиль</a>
        </li>
        <li class="project-item">
          <a href="src/pages/editProfile.hbs" class="project-link">изменить профиль</a>
        </li>
        <li class="project-item">
          <a href="src/pages/errors/404.hbs" class="project-link">404</a>
        </li>
        <li class="project-item">
          <a href="src/pages/errors/500.hbs" class="project-link">500</a>
        </li>
      </ul>
    </nav>

  </body>
</html>
