$secondaryColor: rgba(0,0,0,.72);
$primaryColor: #333F48;
$activeColor: rgb(10, 62, 204);
$activeChatColor: rgb(123, 155, 244);
$backgroundColor: #ffffff;
$alertColor: rgb(208, 0, 0);
$fourthColor: rgba(0,0,0,.1);
$thirdColor: rgba(0,0,0,.52);
$borderRadius: 6px