---
head: Профиль
name: Иван
---

<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="../styles/styles.scss" rel="stylesheet" />
    <title>{{name}}</title>
  </head>
  <body>

    <main class="page">
      <section class="page__profile" >
        <h1 class="title">{{name}}</h1>
        <div><img src="../static/svg/Union.svg" class="avatar" alt="user-avatar"/></div>
        <div class="content">
          <form>
            {{>input inputClass="input input_fullWidth content__input" inputLabel="Почта" inputType="text" inputName="email"}}
            {{>input inputClass="input input_fullWidth content__input" inputLabel="Логин" inputType="text" inputName="login"}}
            {{>input inputClass="input input_fullWidth content__input" inputLabel="Имя" inputType="text" inputName="first_name"}}
            {{>input inputClass="input input_fullWidth content__input" inputLabel="Фамилия" inputType="text" inputName="second_name"}}
            {{>input inputClass="input input_fullWidth content__input" inputLabel="Ник" inputType="text" inputName="display_name"}}
            {{>input inputClass="input input_fullWidth content__input" inputLabel="Телефон" inputType="text" inputName="phone"}}
            {{>input inputClass="input input_fullWidth content__input" inputLabel="Пароль" inputType="password" inputName="oldPassword"}}
            {{>input inputClass="input input_fullWidth content__input" inputLabel="Пароль(еще раз)" inputType="password" inputName="newPassword"}}
        </form>
        <div>
            <form name="saveEdit">
                {{> button buttonText="Сохранить" buttonClass="button button_fullWidth" type="submit"}}
            </form>
        </div>
      </section>
    </main>

  </body>
</html>
